<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/200bf88688.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Kameron:wght@400..700&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/Style/style.css">
    <link rel="stylesheet" href="../static/Style/media.css">
    <link rel="stylesheet" href="../static/Style/mobile.css">
    <link rel="stylesheet" href="../static/Style/adm.css">
    <title id="titulo">Bombons Dadá</title>
    <link rel="icon" href="../static/Imagens/icone2.webp">
</head>
<body>
    <header>
        <nav>
            <div>
                <img src="../static/Imagens/icone2.webp" id="logo-header">
                <h1>Bombons Dadá</h1>
            </div>
            <div id="linkinicio">
                <a href="{{ url_for('logout') }}">Sair</a>

            </div>
        </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="ancora"></div>
    <main class="produtos">
        <div id="apresent">
            {% for produto in dadosprodutos %}
                <div class="divbombo">
                    <img src="{{ url_for ('uploaded_file', filename=produto.image) }}" alt="{{ produto.name }}">
                    <div id="nome">
                        <p>{{ produto.name }}</p>
                    </div>
                    <p id="preco">R${{ produto.price }}</p>
                </div>
            {% endfor %}
        </div>
    
    <a href="{{url_for('cadastrar_produto')}}" id="paracadastrar">Adicionar produto</a>
    
    <script src="../static/Script/form.js"></script>
</main>
 
    <footer>

    </footer>
</body>
</html>
