<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/200bf88688.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Kameron:wght@400..700&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/Style/style.css">
    <link rel="stylesheet" href="../static/Style/media.css">
    <link rel="stylesheet" href="../static/Style/mobile.css">
    <link rel="stylesheet" href="../static/Style/adm.css">
    <title id="titulo">Bombons Dadá</title>
    <link rel="icon" href="../static/Imagens/icone2.webp">
</head>
<body>
    
    <header>
        <nav>
            <div>
                <img src="../static/Imagens/icone2.webp" id="logo-header">
                <h1>Bombons Dadá</h1>
            </div>
            <div id="linkinicio">
                <a href="#bombom">Login Administrador</a>

            </div>
        </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <main>
        <div id="idpopup" class="popup">
            <div class="divpopup">
                <h2>Cadastro de Produto</h2>
                <form method="POST" enctype="multipart/form-data" id="form">
                    {{ form.hidden_tag() }}
                    <label for="name">Nome do Produto</label>
                    {{ form.name() }}
                    <label for="price">Preço (R$)</label>
                    {{ form.price() }}
                    <label for="image">Imagem do Produto</label>
                    {{ form.image() }}
                    <button type="submit">Cadastrar</button>
                </form>
            </div>
        </div>
          
        <script src="../static/Script/form.js"></script>
    </main>
    <footer>

    </footer>
</body>
</html>
