
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/200bf88688.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Kameron:wght@400..700&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/Style/style.css">
    <link rel="stylesheet" href="../static/Style/media.css">
    <link rel="stylesheet" href="../static/Style/mobile.css">
    <title id="titulo">Bombons Dadá</title>
    <link rel="icon" href="../static/Imagens/icone2.webp">
</head>
<body>
    <header>
        <nav>
            <div>
                <img src="../static/Imagens/icone2.webp" id="logo-header">
                <h1>Bombons Dadá</h1>
            </div>
            <div id="linkinicio">
                <a href="{{ url_for('home') }}" >Início</a>
                <a href="{{ url_for('login') }}">Login Adm</a>

            </div>
        </nav>
    </header>
    <div class="ancora"></div>
    <h1 class="produtos">Nossos Produtos</h1>
    <main class="produtos">
        
        <div id="apresent">
            <div class="divbombo">
                <img src="../static/Imagens/fotobombo.jpg" >
                <div id="nome">
                    <p>Bombom de Ninho com Geleia de Morango</p>
                </div>
                <p id="preco">R$4,50</p>
            </div>
            <div class="divbombo">
                <img src="../static/Imagens/fotobombo2.jpg" >
                <div id="nome">
                    <p>Bombom de Prestígio</p>
                </div>
                <p id="preco">R$4,50</p>
            </div>
            <div class="divbombo">
                <img src="../static/Imagens/fotobombo3.jpg" >
                <div id="nome">
                    <p>Bombom de Maracujá</p>
                </div>
                    <p id="preco">R$4,50</p>
            </div>
            <div class="divbombo">
                <img src="../static/Imagens/fotobombo4.jpg" >
                <p id="nome">Bombom de Maracujá com Brigadeiro</p>
                <p id="preco">R$4,50</p>
            </div>
            <div class="divbombo">
                <img src="../static/Imagens/fotobombo5.jpg" >
                <p id="nome">Bombom de Ovomaltine</p>
                <p id="preco">R$4,50</p>
            </div>

        </div>

    </main>
    <button id="pedido" onclick="window.location.href='https://wa.me/5531991353880';">FAÇA SEU PEDIDO</button>
 
    <footer>

    </footer>
</body>
</html>
