@media (max-width:600px) {
    main{
        padding:0rem
    }
    /*barra de navegação*/
    #logo-header {
        width:50px;
        height:50px;
    }
    nav h1{
        font-size:1.2em;
        padding-right:3rem;
        padding-left: 1rem;
        padding-top: 0.4rem;
        margin:0;
    }
    nav a{
        padding-top: 0.3rem;
        font-size:0.7em;
    }
    #links{
        width:100%;
        justify-content: space-evenly;
        margin-right: 2rem;
    }
    nav div{
        display: flex;
        justify-content: center;
        padding-right:0rem;
        
    }
    nav{
        padding-top: 0.4rem;
        height:fit-content;
        flex-direction: column;
    }
    /* Botao */
    #pedido {
        width: 12rem;
        height: 3rem;
        bottom:2rem;
        border-width: 0.5rem;
        font-size: 1.1rem;
    }
    .bombonsgelatos h2 {
        font-size: 1.7em;
    }
    
    .bombonsgelatos {
        background-color: #d1e4f2;
    }
    
    .bombonsgelatos h3 {
        font-size: 1.1rem;
        padding-left: 1rem;
    }
    
    .bombonsgelatos li {
        font-size: 01rem;
        padding: 0.5rem;
        padding-left:1rem
    }
    
    #Gelatos, #Bombons {
        flex-direction: column;
        width:100%;
    }
    
    .Gelatosdiv, .Bombonsdiv {
        width: 90%;
        height: fit-content;
    }

    .preco {
        margin-top: 2rem;
        height: 2rem;
        width: 6rem;
        font-size: 1.4rem;
        margin-left: 1.8rem;
    }
    
    #divcarrossel{
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
        padding-top: 1rem;
        padding-left: 0;
        padding-right: 0;

    }
    #lista{
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
        justify-content: left;
        padding-left: 0%;
        padding-right: 0;
        padding-top: 0;
    }
    .preco{
        margin-left:0.5rem
    }
    /* Encomendas */
    #encomendas {
        flex-direction: column;
    }

    .quadro {
        width: 100%;
        margin:auto;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
    }

    .quadro article {
        padding: 1.5rem;
    }

    .encomendas h2 {
        font-size: 1.9rem;
    }

    .encomendas h3 {
        font-size: 1.5rem;
    }

    .encomendas h4 {
        font-size: 1rem;
    }

    .encomendas li {
        font-size: 1rem;
    }
    .encomendas p{
        padding:0.4rem;
        font-size: 0.9rem;
        text-align: center;
    }
    /* Contatos */
    .contato h2 {
        font-size: 1.5rem;
        padding-left: 3%;
    }

    .contato div {
        display: flex;
        width: 100%;
        margin: 1%;
        align-items: center;
        padding-bottom: 0rem;
    }


    .contato article {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .contato a, .contato p {
        font-family: "Bevan", serif;
        color:#4d3c35;
        text-decoration: none;
        font-size: 1rem;
        padding-left: 1rem;
        
    }
    #ptel{
        margin: 0rem;
    }
    .contato a:hover{
        color:#4d3c35ca;
    }
    #icon {
        font-size: 1.8rem;
    }
    #icon2{
        font-size: 1.6rem;
    }
    /*rodape*/
    footer{
        margin-top:2em;
        height:7vh;
        background-color:#E5DA4A;
        display:flex;
        align-items: center;
        justify-content: center;

        
    }
    #divnos{
        padding-left: 2em;
        padding-right:2em;
        display: flex;
        flex-direction:column;
        justify-content: center;
    }
    #fotocasal{
        margin: auto;
    }
    .nos article {
        padding-top: 2em;
        padding-left:0em;
    }
}